# Configuration Mistral AI
MISTRAL_API_KEY=KdCWO7lXHYSgdE792edwmZ8qZ8Cv80lF

# Configuration serveur
PORT=3000
NODE_ENV=production

# Configuration CORS (domaine de ton site)
FRONTEND_URL=https://titou2012.github.io/UnionErienne
